@charset "utf-8";
/* CSS Document */

/*个人中心板块*/
.geren_banner_box{ background-color:#f7f7f7; overflow:hidden;}
.geren_banner{width:1200px;margin-top:20px;margin-bottom:20px;overflow:hidden;margin-left:auto;margin-right:auto;}

/*个人中心左边板块*/
.geren_banner_l{ float:left;line-height:50px;}
.geren_navbox{ border:1px solid #e5e5e5; border-bottom:0px;}
.geren_nav_text{ font-size:20px; color:#434343; padding-left:20px;width:160px; height:50px;background-color:#fff;border-bottom:#dedede 2px solid;}
.geren_navbox li{ width:180px; height:50px;border-bottom:#dedede 2px solid;background-color:#fff;}
.geren_nav_bor{background-color:#fff;display:block;width:4px; height:48px;float:left; margin-top:1px;}
.geren_nav_bor1{background-color:#ff6000;display:block;width:4px; height:48px;float:left; margin-top:1px;}
.geren_nav img{ float:left;margin:14px;}
.geren_navbox .geren_nav_cur{background-color:#f8f8f8; }
.geren_nav_text1{ font-size:14px; color:#434343;}
.geren_nav_text2{color:#ff6000;}

/*个人中心右边板块*/
.geren_banner_r{ float:right;}
.geren_r{}

/*个人中心右边板块*/

.geren_r2{width:1000px;background-color:#fff;border:#dedede 1px solid;padding-bottom:20px;color:#434343;}
.gerenr1_tittle{ font-size:20px;color:#434343;line-height:54px;margin-left:20px;margin-right:20px;border-bottom:2px solid #e5e5e5;}

.geren_r2_box1{width:960px;height:40px;text-align:center;background-color:#eee;margin:30px 0px 20px 20px;}
.geren2_box1_li{ float:left; width:170px; height:40px;line-height:40px; position:relative;}
.geren2_cur1{background-color:#ff6000;color:#fff;}
.geren2_jiao{border-style:solid;border-width:10px;border-color:#ff6000 transparent  transparent  transparent;position:absolute;bottom:-20px;left:78px;}

.geren_r1_box1{width:1000px;height:600px; line-height:400px; text-align:center;}
.geren_r1_box1 a{ color:#ff6000; text-decoration:underline;}



.geren_r1_box2{font-size:14px;color:#434343; margin-bottom:10px;}
.gerenr1_mid1{line-height:40px;margin-left:20px;margin-right:28px;}
.gerenr1_mid2box{width:958px;overflow:hidden;margin-left:20px;border:1px solid #e5e5e5;border-bottom:0px;}
.gerenr1_mid2box1{width:958px;height:50px;line-height:50px;background-color:#eee;}
.gerenr1_mid2box2{width:958px;height:120px;}
.gerenr1_mid1_time{float:right;}
.gerenr1_mid2box_ul2{margin-left:177px;}
.gerenr1_mid2box_ul2 li{float:left;margin-left:41px;margin-right:41px;}
.gerenr1_mid2box3 *{float:left;}
.gerenr1_mid2box3_1{width:96px;height:96px;margin-top:10px; margin-left:20px; margin-right:10px;}
.gerenr1_mid2box3 div{width:125px;height:90px;text-align:center; margin-top:30px;}
.gerenr1_mid2box3 .gerenr1_mid2box3_2{width:150px;}
.gerenr1_mid2box3 .gerenr1_mid2box3_4{width:100px; }
.gerenr1_mid2box3 .gerenr1_mid2box3_8{color:#ff6000;text-align:center;width:125px; }
.gerenr1_mid2box3 .gerenr1_mid2box3_9{margin-top:24px;width:125px;height:90px;text-align:center;width:70px; text-decoration:underline;}
.gerenr1_mid2box3_9 p{color:#808080;}
.gerenr2_btn{width:70px;height:26px;background-color:#ff6000;color:#fff; margin-top:4px;cursor:pointer;}
.gerenr1_mid2box3{border-bottom:#dedede 1px solid; overflow:hidden;}


.gerenr1_mid1_a{margin-left:40px; color:red;}
.gerenr1_mid1_a2{ float:right;margin-right:40px; color:#ff6000; text-decoration:underline;}


