@charset "utf-8";
/* CSS Document */
/*重置*/
body{margin:0;font-family:"微软雅黑";}
input{padding:0; border:none;outline:none;margin:0;font-family:"微软雅黑";}
a{text-decoration:none;}
img{ display:block;border:none;}
h3,h2,h4{ font-weight:normal; margin:0;}
p{margin:0;}
ul{margin:0;padding:0;}
li{list-style:none;}
dl,dd{margin:0;}
/*top*/
.top{height:50px;background:url(../images/head.png) no-repeat 50%; position:relative;}
.top_X{ position:absolute;top:4px;right:4px;} 
.top2{background-color:#f2f2f2; overflow:hidden; }
.top2_l{float:left;line-height:40px; font-size:14px;color:#4d4d4d;}
.top2_r{float:right;line-height:40px;font-size:12px;}
.top2box{width:1200px; height:40px;margin-left:auto;margin-right:auto;}
.top2_r a{color:#4d4d4d;}
.top2_r a:hover{text-decoration:underline;}

/*logo板块*/
.logo_banner{background-color:white;}
.logo_bannerbox{width:1200px;height:148px;margin-left:auto;margin-right:auto; background-image:url(images/bg.png); }
.logo{margin-top:38px;float:left;}
.logo_bannerbox_r{float:right;margin-top:54px;}
.searchbox{border:#ff6000 1px solid;overflow:hidden;}
.search{width:366px;height:30px;float:left;}
.search_btn{width:84px;height:30px;background-color:#ff6000;float:left;font-size:16px;text-align:center;color:white;letter-spacing:1px;}
.searchfont a{float:left;font-size:12px;margin-top:8px;margin-right:30px;color:#5f5f5f;}
.searchfont a:hover{color:#d20000;}
/*注册板块*/
.register_banner{ background-color:#f2f2f2;}
.register_bannerbox{width:1200px;height:1000px;margin-left:auto;margin-right:auto; overflow:hidden;}
.registerbox_top{background-color:#f9f9f9;width:1200px;height:44px; line-height:44px; margin-top:44px;}
.registerbox_top *{float:left;}
.registerbox_top img{margin-top:14px;margin-left:30px;margin-right:10px;}

.registerbox_mid{ background-color:white;width:1200px;margin-left:auto;margin-right:auto; overflow:hidden;}

table{padding-left:180px;color:#333;font-size:16px;padding-top:12px;padding-bottom:40px;}
.first input{width:340px;height:42px;border:1px solid #e5e5e5;padding-left:20px;margin-top:8px;font-size:12px;}
.first p{margin-top:30px;}
.yanzhen input{width:150px;height:42px;border:1px solid #e5e5e5;padding-left:20px;margin-top:8px;}
.yanzhen *{float:left;}
.yanzhen img{margin-top:8px;margin-left:20px;}
.yanzhen a{margin-left:20px;color:#ff6100;margin-top:30px;}
.register_mid_l,.register_mid_m,.register_mid_r{float:left;}
.register_mid_m{width:1px;height:400px;background-color:#e5e5e5;margin-top:60px;margin-left:100px;}
.register_mid_r{ margin-left:120px; margin-top:240px;}
.register_r1{color:#696969;font-size:14px; margin-bottom:12px;}
.register_r2{ background-image:url(../images/denglukuang.png);width:192px; height:50px;
background-repeat:no-repeat;font-size:20px;text-align:center;line-height:50px;color:#ff6100;}
.btn{width:246px;height:50px;background-color:#ff6100;border-radius:10px; color:white; font-size:20px;float:left;}
.btns{ float:left; margin-left:14px;margin-top:28px;}
.btnss{ float:left;color:#ff6100;}
.text{ padding-top:22px;}
.registerbox_bot{background-color:white;padding-left:180px;padding-bottom:140px;width:1110px;margin-left:auto; overflow:hidden;}

/*脚注板块*/
.footer_banner{background-color:#757575;font-size:12px;color:white;}
.footer_bannerbox{width:1200px;margin: 0 auto;overflow:hidden; padding:20px 0px 8px;}
.foot_logo,.foot_m,.phone{float:left;}
.foot_img{float:right;color:white;font-size:12px; line-height:28px;}
.phone{font-size:12px; line-height:22px;}
.foot_m{margin:0px 138px 0px 138px;}
.foot_m a{ color:white; font-size:12px; line-height:20px;}
/*登录弹出板块*/
.loginbg{background-color:rgba(0,0,0,0.2); width:100%; height:100%;position:fixed;top:0;left:0;}
.login{width:480px;height:456px;background-color:white;position:fixed;top:25%; left:50%; margin-left:-240px;color:#333;}
.login_top{width:440px;height:56px;line-height:56px;font-size:22px;padding:0px 20px 0px 20px;background-color:#efefef;color:#4d4d4d; letter-spacing:4px;}
.cha{float:right;margin-top:12px;cursor:pointer;}
.login_mid{width:318px; height:100px; border:1px solid #bebebe;background-color:white; margin:45px auto 16px;}
.login_mid input{display:block;width:318px; height:50px;color:#bebebe; font-size:18px; padding-left:48px;}
.login_mid_line{border-bottom:1px solid #bebebe;width:298px; margin:auto;}
#login_mid_zhanghao{background:url(../images/suo.png) no-repeat 16px 12px; }
#login_mid_mima{background:url(../images/suo2.png) no-repeat 16px 12px; }
.login_mid2{margin-left:80px; overflow:hidden;}
.login_mid2 p{color:#6f6f6f; font-size:12px; line-height:44px;}
.login_mid2 *{float:left;}
#login_mid_check{width:120px;height:42px;border:1px solid #bebebe;background-color:white;color:#bebebe; font-size:14px; padding-left:20px;}
.login_mid3{clear:both;width:318px; margin:14px auto 30px;color:#6f6f6f; font-size:13px;overflow:hidden;}
.login_mid3_l{float:left;}
.login_mid3_r{float:right;}
#login_mid_img{margin-left:10px; margin-right:9px;}
#login_mid_sub{width:320px;height:50px; background-color:#ff6000;color:rgba(255,255,255,1);font-size:20px;margin-left:80px;cursor:pointer;}

.hidden{ display:none;}

/*手机验证弹出板块*/
.shoujiyanzbg{background-color:rgba(0,0,0,0.2); width:100%; height:100%;position:fixed;top:0;left:0;}
.shoujiyanz{width:640px;height:350px; background-color:white;position:fixed;top:20%; left:50%; margin-left:-320px;}
.shoujiyanz_top{width:600px; height:56px;line-height:56px; font-size:22px;padding:0px 20px 0px 20px; background-color:#efefef;}
.shoujiyanzcha{float:right; margin-top:12px;}
.shoujiyanz_p1{ margin-top:24px; margin-left:20px; color:#666; font-size:13px;}
.shoujiyanz_p2{ margin-top:20px; margin-left:110px; color:#666; font-size:14px;}
.shoujiyanz_p3{ margin-top:12px; margin-left:117px; color:#666; font-size:14px;}
.shoujiyanz_yanzhen{ width:150px; height:44px; border:1px solid #ff6000;margin-left:13px;color:#999; font-size:14px; padding-left:20px;}
.shoujiyanz_sub{width:150px; height:44px; background-color:#ff6000; font-size:20px;color:white; margin:20px 0px 20px 190px;}
.shoujiyanz_p4{width:140px; height:30px; background-color:#ccc; margin-top:12px; margin-left:190px; color:#fff; font-size:14px; padding-left:10px; line-height:30px;}
