@charset "utf-8";
/* CSS Document */

.pass_ban{ background-color:##f7f7f7;}
.password{width:1200px;height:678px;margin:20px auto; background-color:#fff;}
.pass_tit{font-size:20px;color:#434343; line-height:54px;margin:0px 20px 20px 20px;border-bottom:2px solid #e5e5e5;}



.pass_box{width:1160px;margin-left:20px; height:482px;color:#434343;overflow:hidden;}
.pass_ul1{ margin-left:240px; margin-top:80px; overflow:hidden;}
.pass_ul1_li1{ float:left;width:100px; text-align:right; margin-right:24px;line-height:37px;margin-bottom:6px;}
.pass_ul1_ipt1{float:left;width:205px; height:35px; border:1px solid #b3b3b3; border-radius:4px; padding-left:20px; margin-right:20px;}

.pass_ul2{ clear:both; margin-left:240px; margin-top:20px;overflow:hidden;}
.pass_ul2_li1{float:left; width:100px; text-align:right; margin-right:24px; line-height:37px; margin-bottom:6px;}
.vcode{float:left;width:100px; height:37px; }
.pass_ul2_p{float:left;cursor:pointer; font-size:13px;line-height:37px; margin-left:20px;color:#48afff;}
.pass_ul1_p{ clear:both; margin-left:124px; font-size:12px; padding-left:20px; background:url(../images/tishi.png) no-repeat;}

.pass_ipt{width:174px; height:40px;background-color:#ff6000;color:#fff; font-size:16px;margin-left:364px; margin-top:40px; cursor:pointer;}
.shoujiyanz_p4{width:140px; height:30px; background-color:#ccc; margin-top:12px; margin-left:190px; color:#fff; font-size:14px; padding-left:10px; line-height:30px;}
#btn{float:left;width:120px; height:35px; border:1px solid #ff6000; background-color:#fff;border-radius:4px; color:#ff6000;cursor:pointer;}















