@charset "utf-8";
/*重置*/
body{margin:0;font-family:"微软雅黑";}
input{padding:0; border:none;outline:none;margin:0;font-family:"微软雅黑";}
a{text-decoration:none; cursor:pointer;}
img{ display:block;border:none;}
h3,h2,h4{ font-weight:normal; margin:0;}
p{margin:0;}
ul{margin:0;padding:0;}
li{list-style:none;}
dl,dd{margin:0;}

body{min-width:1200px;}
/*top*/
.top{height:50px;background:url(../images/head.png) no-repeat 50%; position:relative;}
.top_X{ position:absolute;top:4px;right:4px;} 
.top2{background-color:#f2f2f2; overflow:hidden; }
.top2_l{float:left;line-height:40px; font-size:14px;color:#4d4d4d;}
.top2_r{float:right;line-height:40px;font-size:12px;}
.top2box{width:1200px; height:40px;margin-left:auto;margin-right:auto;}
.top2_r a{color:#4d4d4d;}
.top2_r a:hover{text-decoration:underline;}
.hotline{color:#333; font-weight:bold; display:inline; font-size:14px;}
/*logo板块*/
.logo_banner{background-color:white;}
.logo_bannerbox{width:1200px;height:148px;margin-left:auto;margin-right:auto; background-image:url(images/bg.png); }
.logo{margin-top:38px;float:left}
.logo_bannertext{margin-top:50px;float:left; margin-left:20px; padding-left:20px; height:35px; border-left:1px solid #ccc; line-height:35px;color:#4ba3ff;font-size:16px;}

/*脚注板块*/
.footer_banner{background-color:#757575;font-size:12px;color:white;}
.footer_bannerbox{width:1200px;margin: 0 auto;overflow:hidden; padding:20px 0px 8px;}
.foot_logo,.foot_m,.phone{float:left;}
.foot_img{float:right;color:white;font-size:12px; line-height:28px;}
.phone{font-size:12px; line-height:22px;}
.foot_m{margin:0px 138px 0px 138px;}
.foot_m a{ color:white; font-size:12px; line-height:20px;}


.hidden{ display:none;}