@charset "utf-8";
/* CSS Document */
.xx_unionban{overflow:hidden;position:relative;}
.xx_union{width:1920px;left:50%;margin-left:-960px; position:absolute; }



.xx_unionban{overflow:hidden;position:relative;}/*隐藏大广告超出窗口的内容*/
.xx_union{width:1920px;position:relative;left:50%;margin-left:-960px;}
.xx_button{position:absolute;bottom:264px;left:798px; width:327px; height:87px;
cursor:pointer;}
























































































